button {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border: none;
    background-color: #2a7ae4;
    color: white;
    font-size: 1rem;
    font-family: $font-family;
    cursor: pointer;
}
