.skill-card {
    display: flex;
    flex-direction: column;
    width: 11rem;
    height: 10.875rem;
    background-color: white;
}

.education-card {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 17.875rem;
    background-color: white;
}
