.skill-cards-list,
.hobby-cards-list {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 11rem;
    height: 10.875rem;
    background-color: white;
}

.skill-item,
.hobby-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 1rem 1rem;
    gap: 0.5rem;

    h2 {
        font-size: 1rem;
    }
}

.education-cards-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.education-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
        font-size: 1.375rem;
    }

    p {
        font-weight: 500;
    }
}

.education-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23rem;
    height: 17.875rem;
    padding: 0rem 5.5rem;
    background-color: white;
}
