@media only screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
    .skills-hobbies-education-area {
        padding: 0rem;
        gap: 0rem;
    }

    .skills-area,
    .hobbies-area {
        padding: 1rem;

        h1 {
            font-size: 1.375rem;
        }
    }

    .education-area {
        padding: 2rem;

        h1 {
            font-size: 1.375rem;
        }
    }
}
