@media only screen and (min-width: $tablet-max-width) and (max-width: $desktop-max-width) {
    .skill-cards-list,
    .hobby-cards-list {
        flex-wrap: wrap;
        align-self: stretch;
        row-gap: 2rem;
        column-gap: 1rem;
        justify-content: unset;
    }

    .skill-card {
        width: auto;
        height: 7.375rem;
        flex-grow: 1; // Permite que os cartões cresçam
        flex-shrink: 1; // Permite que os cartões encolham
        flex-basis: 30%; // Define a largura base dos cartões
    }

    .education-cards-list {
        align-self: stretch;
    }

    .education-card-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 30%;
        gap: 0.5rem;

        h2 {
            font-size: 0.875rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .education-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 7.375rem;
        padding: 1.875rem 4.375rem;
    }

    .education-card img {
        max-width: 100%;
        max-height: 100%;
    }
}
