.skills-hobbies-education-area {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 2rem 0;
    gap: 5.5rem;

    h1 {
        font-size: 2rem;
    }
}

.skills-area,
.hobbies-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 2rem;

    .skill-cards-list,
    .hobby-cards-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.education-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 36.3125rem;
    gap: 2rem;
    background-color: $ligth-blue;

    .education-cards-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
