.skills-hobbies-education-area {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 2rem 0;
    gap: 5.5rem;

    h1 {
        font-size: 2rem;
    }
}

.skills-area,
.hobbies-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 2rem;
}

.education-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 5.125rem 9.5rem;
    gap: 2rem;
    background-color: $ligth-blue;
}
