@media only screen and (min-width: $tablet-max-width) and (max-width: $desktop-max-width) {
    header {
        padding: 1rem 2rem;

        .internal-links {
            li {
                display: none;

                &:last-child {
                    display: block;
                }
            }
        }
    }
}
