@media only screen and (min-width: $tablet-max-width) and (max-width: $desktop-max-width) {
    header {
        padding: 1rem 2rem;

        .internal-links {
            li {
                display: none;

                &:last-child {
                    display: block;
                }
            }
        }
    }

    .hero-area {
        padding: 4rem 2rem;

        img {
            width: 9.125rem;
            height: 9.125rem;
        }
    }
}
