html {
    scroll-behavior: smooth;
    scroll-padding-top: 15%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    font-family: $font-family;
    color: $dark-gray;
}
