@use "./variables";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$white;
  font-family: variables.$font-family;
  color: variables.$dark-gray;
}
