$white: #f5f5f5;
$dark-gray: #464646;
$dark-grey: #464646;
$ligth-blue: #eaf2fd;
$font-family: "Raleway", sans-serif;

$desktop-max-width: 90rem;
$tablet-max-width: 48rem;
$mobile-max-width: 22.5rem;
